.header{
    width: 95%;
    height: 50px;
    position: sticky;
    top: 0;
    z-index: 999;
}
.headerWrapper{
    height: 100%;
    padding: 0px;
    display: flex;
    align-items: center;
    float: left;
}
.icons{
    flex-direction: row;
    align-items: center;
    display: flex;
    height: 100%;
    float: right;
}