.App {
  background-color: #282c34;
  min-height: 100vh;
  padding-left: 30%;
  padding-top: 5%;
}
.prompt{
  width: 50%;
  margin-left: 1%;
  margin-top: 10%;
}
.promptText{
  color: white;
  font-size: 20px;
}
.submitBtn{
  margin-top: 2%;
}