.App {
  background-color: #122b40;
  min-height: 200vh;
  padding-left: 5%;
  padding-top: 1%;
}
.prompt{
  width: 40%;
  margin-top: 8%;
  float: left;
}
.promptText{
  color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.submitBtn{
  margin-top: 2%;
}
.response{
  flex-direction: column;
  width: 40%;
  float: right;
}
.titleText{
  font-weight: bold;
  font-size: 70px;
  color: white;
  margin-top: 10%;
}
.title{
  width: 40%;
  margin-top: 5%;
}