.App {
  background-color: #122b40;
  min-height: 200vh;
  padding-left: 5%;
  padding-top: 1%;
}
.prompt{
  width: 38%;
  margin-top: 23%;
  float: left;
}
.promptText{
  color: white;
  font-size: 20px;
}
.submitBtn{
  margin-top: 2%;
}
.response{
  flex-direction: column;
  width: 40%;
  float: right;
}